<div class="color-switcher animated">
    <h5>Accent Color</h5>
    <ul class="accent-colors">
      <li class="accent-primary active" data-color="primary">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-secondary" data-color="secondary">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-success" data-color="success">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-info" data-color="info">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-warning" data-color="warning">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-danger" data-color="danger">
        <i class="material-icons">check</i>
      </li>
    </ul>
    <div class="actions mb-4">
      <a class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action" href="https://designrevision.com/downloads/shards-dashboard-lite/">
        <i class="material-icons">cloud</i> Download</a>
      <a class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action" href="https://designrevision.com/docs/shards-dashboard-lite">
        <i class="material-icons">book</i> Documentation</a>
    </div>
    <div class="social-wrapper">
      <div class="social-actions">
        <h5 class="my-2">Help us Grow</h5>
        <div class="inner-wrapper">
          <a class="github-button" href="https://github.com/DesignRevision/shards-dashboard" data-icon="octicon-star" data-show-count="true" aria-label="Star DesignRevision/shards-dashboard on GitHub">Star</a>
          <!-- <iframe style="width: 91px; height: 21px;"src="https://yvoschaap.com/producthunt/counter.html#href=https%3A%2F%2Fwww.producthunt.com%2Fr%2Fp%2F112998&layout=wide" width="56" height="65" scrolling="no" frameborder="0" allowtransparency="true"></iframe> -->
        </div>
      </div>
      <div id="social-share" data-url="https://designrevision.com/downloads/shards-dashboard-lite/" data-text="🔥 Check out Shards Dashboard Lite, a free and beautiful Bootstrap 4 admin dashboard template!" data-title="share"></div>
      <div class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="close">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="color-switcher-toggle animated pulse infinite">
    <i class="material-icons">settings</i>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
      <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
        <div class="main-navbar">
          <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
              <div class="d-table m-auto">
                FOSTI HUB
                <!-- <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="images/shards-dashboards-logo.svg" alt="Shards Dashboard"> -->
                <!-- <span class="d-none d-md-inline ml-1">Shards Dashboard</span> -->
              </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
              <i class="material-icons">&#xE5C4;</i>
            </a>
          </nav>
        </div>
        <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
          <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
        </form>
        <div class="nav-wrapper">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">
                <i class="material-icons">edit</i>
                <span>Portofolio</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="components-blog-posts.html">
                <i class="material-icons">vertical_split</i>
                <span>Pengaturan</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="add-new-post.html">
                <i class="material-icons">note_add</i>
                <span>Keluar</span>
              </a>
            </li>

          </ul>
        </div>
      </aside>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">

        <!-- / .main-navbar -->
        <div class="main-content-container container-fluid px-4">
          <!-- Page Header -->
          <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
              <span class="text-uppercase page-subtitle"></span>
              <h3 class="page-title" id="dashboard-title">Daftar Portofolio</h3>
            </div>
          </div>

          <div class="row">
            <!-- Users Stats -->

            <!-- End Users Stats -->
            <!-- Users By Device Stats -->
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <div class="card card-small blog-comments">
                  <div class="card-header border-bottom">
                    <button onclick="newBatal();" id="btn-batal" type="button" style="display:none;float: left;" class="mb-2 btn btn-outline-secondary mr-2">Batal</button>

                    <button onclick="newBaru();" type="button" id='btn-baru' style="float: right;" class="mb-2 btn btn-outline-secondary mr-2">Buat Baru</button>
                  </div>
                  <div class="card-body p-0" id="dashboard-page"></div>



                  <div class="card-footer border-top">

                  </div>
                </div>
              </div>

            <!-- End Top Referrals Component -->
          </div>
        </div>
        <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
          <span class="copyright ml-auto my-auto mr-2">Copyright © 2018
            <a href="https://designrevision.com" rel="nofollow">DesignRevision</a>
          </span>
        </footer>
      </main>
    </div>
  </div>

 
