<div class="searchbox" style="z-index: 200; box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);">

    <input id="search" type="text" placeholder="Cari Project atau Kategori..." name="search" class="form-control">
    <button onclick="cariCari();" type="button" class="btn-secondary"> <i class="material-icons">search</i></button>

</div>


<main class="main-content col-lg-12 col-md-12 col-sm-12 p-5">
  <!-- Another variation with a button -->

    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <span class="text-uppercase page-subtitle">Project</span>
          <h3 class="page-title">Terbaru</h3>
        </div>
      </div>
      <!-- End Page Header -->
      <div class="row" id="home-all">

      </div>

    </div>
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
 
    </footer>
  </main>