<div class="blog-comments__item d-flex p-3">
    <div class="blog-comments__avatar mr-3">
      <img src="images/avatars/1.jpg" alt="User avatar" /> </div>
    <div class="blog-comments__content">
      <div class="blog-comments__meta text-muted">
        <a class="text-secondary" href="#">James Johnson</a> on
        <a class="text-secondary" href="#">Hello World!</a>
        <span class="text-muted">– 3 days ago</span>
      </div>
      <p class="m-0 my-1 mb-2 text-muted">Well, the way they make shows is, they make one show ...</p>
      <div class="blog-comments__actions">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-white">
            <span class="text-success">
              <i class="material-icons">check</i>
            </span> Approve </button>
          <button type="button" class="btn btn-white">
            <span class="text-danger">
              <i class="material-icons">clear</i>
            </span> Reject </button>
          <button type="button" class="btn btn-white">
            <span class="text-light">
              <i class="material-icons">more_vert</i>
            </span> Edit </button>
        </div>
      </div>
    </div>
  </div>