<div style="display: none;">
  <form method="POST" id="form-1" ><input  name="gambar" type="file" id="gbr1"/><input type="tex" name="namafile"/></form>
  <form id="form-2" ><input name="gambar" type="file" id="gbr2"/></form>
  <form id="form-3" ><input name="gambar" type="file" id="gbr3"/></form>
</div>

<form class="form-group" style="margin-top: 10px;">

    <div class="container">
        <div class="form-group">
          <label id="label-judul">Tambahkan Gambar Utama (click + untuk menambah / click gambar untuk mengganti)</label><br>

            <img id="vgbr1" style="width: 200px;"  onclick="upGambar(1);" src="https://img.icons8.com/officel/100/000000/add-image.png" alt="..." class="img-thumbnail">
           <img id="vgbr2" style="width: 200px;" onclick="upGambar(2);" src="https://img.icons8.com/officel/100/000000/add-image.png" alt="..." class="img-thumbnail">
           <img id="vgbr3" style="width: 200px;"  onclick="upGambar(3);" src="https://img.icons8.com/officel/100/000000/add-image.png" alt="..." class="img-thumbnail">
        </div>
        <div class="form-group">
            <label id="label-judul">Judul</label>
            <input id="form-judul" onkeyup="cekJudul();" onkeydown="cekJudul();" class="form-control form-control-lg mb-3" type="text" placeholder="Judul">
        </div>
        <div class="form-group">
          <label id="label-judul">Deskripsi Singkat</label>
          <textarea class="form-control" id="deskripsi" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="kategori" id="kategori">
                <option value="Website">Website</option>
                <option value="Jaringan">Jaringan</option>
                <option value="Embeded">Embeded</option>
                <option value="IoT">IoT</option>
                <option value="Program">Program</option>
                <option value="PC">Desktop/PC</option>
                <option value="Sistem Operasi">Sistem Operasi</option>
                <option value="Robotik">Robotik</option>
                <option value="Mobile">Mobile</option>
                <option value="Security">Security</option>
                <option value="AI">AI/ML</option>
                <option value="Other">Lainya</option>
            </select>
        </div>
        <hr>
        <h3>Team (Jika Sendiri pilih satu saja) :) </h3>
        <div class="form-group">
            <select id="all-user" class="form-control js-example-basic-single" name="state">
                
            </select>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Status</th>
                <th scope="col">Hapus</th>
              </tr>
            </thead>
            <tbody id="body-team">
            </tbody>
          </table>
    </div>
    <hr>
    <div class="container">
        <h3>Tech Stack </h3>
        <div class="form-group">
            <select id="tech-stack" class="form-control js-example-basic-single" name="state">
              
              </select>
        </div>
        <table class="table">
            <tbody id="body-stack">

            </tbody>
          </table>
    </div>
    <hr>
    <div class="container">
        <h3>Repository & Page</h3>
        <div class="form-group">
            <select id="list-repo" class="form-control js-example-basic-single" name="state">
             
              </select>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Repo/Page</th>
                <th scope="col">URL</th>
                <th scope="col">Hapus</th>
              </tr>
            </thead>
            <tbody id='body-repo'>

            </tbody>
          </table>
    </div>
    <hr>
    <div class="container">
        <h3>Contact Team</h3>
        <div class="form-group">
            <label>Email</label>
            <input id="email" class="form-control form-control-lg mb-3" type="text" placeholder="">
        </div>
        <div class="form-group">
            <label>Telp/Whatsapp</label>
            <input id="telp" class="form-control form-control-lg mb-3" type="text" placeholder="">
        </div>
    </div>
    <hr>
    <div class="container">
      <h3>Tambahkan penjelasan, Code, atau gambar & video</h3>
      <p>Auto link embed aktif *</p>
      <div class="form-group">
        <div class="form-control" id="editorjs"></div>
      </div>
    </div>
</form>
<div class="row">
    <div class="col text-center view-report">
      <button type="submit" onclick="simpan();" class="btn btn-success">Terbitkan</button>
      <button type="submit" class="btn btn-secondary" onclick="renderBlock();">Simpan Draft</button>
    </div>
  </div>
