
  <!-- <div class="color-switcher-toggle animated pulse infinite" onclick="colormode();">
    <i class="material-icons">nights_stay</i>
  </div> -->
  <div class="container-fluid">
    
    <div class="row">
      <!-- Main Sidebar -->

      <!-- End Main Sidebar -->
      <main class="main-content col-lg-12 col-md-12 col-sm-12">

        <!-- / .main-navbar -->
        <!-- <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fa fa-check mx-2"></i>
          <strong>Success!</strong> Your profile has been updated! </div> -->
        <div class="main-content-container container-fluid px-4">
          <!-- Page Header -->
          <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">

            </div>
          </div>
          <!-- End Page Header -->
          <!-- Default Light Table -->
          <div class="row">
            <div class="col-lg-3" style="z-index: 2;">
              
              <div class="card card-small mb-4 pt-3">
                
                <div class="card-header border-bottom text-center">
                  <div class="mb-3 mx-auto">
                    
                    <img class="img-fluid" style="border-radius: 15px;display: none;" src=""> </div>


                    <div id="caro-1" class="owl-carousel owl-theme zoom-gallery">
                    
                  </div>



                  <h4 class="mb-0" id="judul">-</h4>
                  <span class="text-muted d-block mb-2" id="kategori">-</span>
                  <span class="text-muted d-block mb-2"><i class="material-icons">remove_red_eye</i> <span id="_jview"></span> | <i class="material-icons">thumb_up</i><span id="_lview"></span></span>
                    <button type="button" class="btn btn-secondary" id="btn-respect" onclick="respectLike();"><i class="material-icons">thumb_up</i> Respect</button>
                    <button type="button" class="btn btn-secondary"><i class="material-icons">share</i> Share</button>
                </div>
                <ul class="list-group list-group-flush">

                  <li class="list-group-item p-4">
                    <h5>Stack</h5>
                    <div class="container">
                      <div class="row" id="_liststack"></div>

                    </div>
                    



                  </li>
                  <li class="list-group-item p-4">
                    <h5>Team</h5>


                              <div id="_listteam"></div>


                            

                  </li>
                  <li class="list-group-item p-4">
                    <h5>Repository</h5>
                    <div id="_listrepo"></div>

                  </li>
                  <li class="list-group-item p-4">
                    <h5>Kontak</h5>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="https://img.icons8.com/windows/50/000000/email-open.png" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">E-Mail</a>
                          <br><span class="text-muted" id="_vemail"></span>
                        </div>

                      </div>
                    </div>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="https://img.icons8.com/windows/50/000000/phone.png" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">Whatsapp & Phone</a>
                          <br><span class="text-muted" id="_vphone"></span>
                        </div>

                      </div>
                    </div>

                  </li>
                </ul>
              </div>
              
              <div id="loading-kiri" style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#e3e5e8" ><div style="  z-index:1;position:relative;top:0;left:0;width:100%;height:100%;" class="shine-me"></div></div>
            </div>
            <div class="col-lg-9">
              <div class="card card-small mb-4">
                <!-- <div class="card-header border-bottom">
                  <h6 class="m-0">Tentang</h6>
                </div> -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-3">
                    <div class="row">
                      <div class="col" style="padding: 30px;" id="detail-block">

                
                      </div>
                    </div>
                  </li>
                </ul>

                <div id="loading-atas" style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#e3e5e8" ><div style="  z-index:0;position:relative;top:0;left:0;width:100%;height:100%;" class="shine-me"></div></div>

              </div>

              
              <!-- <div class="card card-small blog-comments">
                <div class="card-header border-bottom">
                  <h6 class="m-0">Discussions</h6>
                </div>
                <div class="card-body p-0">
                  <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                      <img src="images/avatars/1.jpg" alt="User avatar" /> </div>
                    <div class="blog-comments__content">
                      <div class="blog-comments__meta text-muted">
                        <a class="text-secondary" href="#">James Johnson</a> on
                        <a class="text-secondary" href="#">Hello World!</a>
                        <span class="text-muted">– 3 days ago</span>
                      </div>
                      <p class="m-0 my-1 mb-2 text-muted">Well, the way they make shows is, they make one show ...</p>
                      <div class="blog-comments__actions">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-white">
                            <span class="text-success">
                              <i class="material-icons">check</i>
                            </span> Approve </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-danger">
                              <i class="material-icons">clear</i>
                            </span> Reject </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-light">
                              <i class="material-icons">more_vert</i>
                            </span> Edit </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                      <img src="images/avatars/2.jpg" alt="User avatar" /> </div>
                    <div class="blog-comments__content">
                      <div class="blog-comments__meta text-muted">
                        <a class="text-secondary" href="#">James Johnson</a> on
                        <a class="text-secondary" href="#">Hello World!</a>
                        <span class="text-muted">– 4 days ago</span>
                      </div>
                      <p class="m-0 my-1 mb-2 text-muted">After the avalanche, it took us a week to climb out. Now...</p>
                      <div class="blog-comments__actions">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-white">
                            <span class="text-success">
                              <i class="material-icons">check</i>
                            </span> Approve </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-danger">
                              <i class="material-icons">clear</i>
                            </span> Reject </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-light">
                              <i class="material-icons">more_vert</i>
                            </span> Edit </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                      <img src="images/avatars/3.jpg" alt="User avatar" /> </div>
                    <div class="blog-comments__content">
                      <div class="blog-comments__meta text-muted">
                        <a class="text-secondary" href="#">James Johnson</a> on
                        <a class="text-secondary" href="#">Hello World!</a>
                        <span class="text-muted">– 5 days ago</span>
                      </div>
                      <p class="m-0 my-1 mb-2 text-muted">My money's in that office, right? If she start giving me...</p>
                      <div class="blog-comments__actions">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-white">
                            <span class="text-success">
                              <i class="material-icons">check</i>
                            </span> Approve </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-danger">
                              <i class="material-icons">clear</i>
                            </span> Reject </button>
                          <button type="button" class="btn btn-white">
                            <span class="text-light">
                              <i class="material-icons">more_vert</i>
                            </span> Edit </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top">
                  <div class="row">
                    <div class="col text-center view-report">
                      <button type="submit" class="btn btn-white">View All Comments</button>
                    </div>
                  </div>
                </div>
              </div> -->
            
              <hr>
              <div id="lainya-head"></div>
              <div id="lainya"></div>

            </div>
          </div>
          <!-- End Default Light Table -->
          
        </div>
        <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
       <center><p style="text-align: center;">FOSTI Project Hub | FOSTI UMS 2020</p></center>
        </footer>
      </main>
    </div>
  </div>
  <script>

</script>
<script src="font/app/port.js"></script>