<div class="main-navbar bg-white" style="margin-bottom: 70px;">
    <!-- Main Navbar -->
    <nav class="navbar align-items-stretch navbar-light fixed-top flex-md-nowrap p-0" style="background-color: white;box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);">
  
      <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
        <div class="input-group input-group-seamless ml-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img style="width: 70px;" src="cdn/image/logo.png" alt=""><img style="width: 200px;margin-left: 10px;" src="cdn/image/hub.png" alt="">
            </div>
          </div>
          
          <input class="navbar-search form-control" type="text" placeholder="" aria-label="Search"> </div>
          
          <div class="dropdown">
            <button style="background-color: white;
            color: black;
            border-color: white;
            margin-top: 10px;
            font-size: 15px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kategori
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            
              <button class="dropdown-item" type="button">Website</button>
              <button class="dropdown-item" type="button">Jaringan</button>
                <button class="dropdown-item" type="button">Embeded</button>
                  <button class="dropdown-item" type="button">IoT</button>
                    <button class="dropdown-item" type="button">Program</button>
                      <button class="dropdown-item" type="button">Desktop/PC</button>
                        <button class="dropdown-item" type="button">Sistem Operasi</button>
                          <button class="dropdown-item" type="button">Robotik</button>
                            <button class="dropdown-item" type="button">Mobile</button>
                              <button class="dropdown-item" type="button">Security</button>
                                <button class="dropdown-item" type="button">AI/ML</button>
                                  <button class="dropdown-item" type="button">Lainya</button>
            </div>
          </div>
      </form>
      <ul class="navbar-nav border-left flex-row ">

        <li id="userinfo" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle mr-2" id="pp" src="" alt="User Avatar">
            <span class="d-none d-md-inline-block" id="username">-</span>
          </a>
          <div class="dropdown-menu dropdown-menu-small">
 
            <a id="dd-btn" class="dropdown-item" href="dashboard">
              <i class="material-icons">vertical_split</i> Dashboard</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" onclick="logOut();">
              <i class="material-icons text-danger">&#xE879;</i> Logout </a>
          </div>
        </li>
        <li id="btn-login" class="nav-item dropdown">
            <button data-toggle="modal" data-target="#loginModal" type="button" style="margin-top: 10px;margin-right: 5px;" class="mb-2 btn btn-primary mr-2">LOGIN</button>
        </li>
      </ul>
      <nav class="nav">
        <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
          <i class="material-icons">&#xE5D2;</i>
        </a>
      </nav>
    </nav>
  </div>