.shine-me {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:220px;
	position: absolute;
	z-index:1;
	animation: slide 1s infinite;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.dark-mode {
    background-color: black;
    color: white;
  }
  /* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.searchbox{
		height: 60px;
		width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
		display: flex;
	
	& > .btn-menu {
		padding: 16px;
		background: transparent;
		border: none;
		cursor: pointer;
	}
	
	& > .search{
		border: none;
		width: 100%;
	}
	
	& > .btn-search {
		padding: 16px;
		background: transparent;
		border: none;
		cursor: pointer;
	}
}


// Modal Css Starts Here

.search-modal{
		
		height: 400px;
		width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 160px;
		animation: slideInUp .5s;
		display: none;
	&-header{
		display: flex;
		padding: 10px;
		border-bottom: 1px solid #00000017;
		& h3{
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 500;
			float: left;
		}
		
		& span {
			& img{
				    float: right;
    				position: absolute;
    				right: 16px;
    				top: 25px;
    				margin: 0 auto;
						cursor: pointer;
					transition: .5s all;
				&:hover{
					transform: scale(1.1);
				}
			}
		}
	}
	&-body{
		padding: 20px;
		height: 285px;
		overflow-y:scroll;
		
		& .message{
		display: flex;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
			&-avatar{
				margin-right: 16px;
				margin-top: 10px;
				& img{
					height: 60px;
					width: 60px;
					border-radius: 30px;
					object-fit: cover;
					box-shadow: 0 4px 8px rgba(0,0,0,.45);
				}
			}
			&-body{
				margin-left: 0;
				margin-top: 8px;
				& p{
					margin-bottom:0;
					font-size: 14px;
					font-weight: 500;
					color: #444;
				}
				& small{
					font-weight: 400;
					font-family: Dosis;
					color: #777;
				}
			}
			
			&:hover{
				background-color: #2F94D817;
			}
		}
		
		&::-webkit-scrollbar {
  		width: 5px;
		}


		&::-webkit-scrollbar-track {
  		background: transparent;
		}

		&::-webkit-scrollbar-thumb {
  		background: #2F94D8;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			box-shadow: -1px 0 5px rgba(0,0,0,.15);
		}

		
		&::-webkit-scrollbar-thumb:hover {
  	background: #555;
		}
	}
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/


.gallery-item
	position: relative
	img
		opacity: 1
		transition: opacity 0.35s
	&::before
		position: absolute
		content: ""
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-color: #14222d
		background-image: url(http://randomsite.zzz.com.ua/cabel/img/s8_zoom.png)
		background-position: center
		background-repeat: no-repeat
	&:hover
		img
			opacity: .2
			transition: opacity 0.35s
.owl-prev
	position: absolute
	left: 0
	top: 50%
	transform: translateY(-50%)
.owl-next
	position: absolute
	right: 0
	top: 50%
	transform: translateY(-50%)